/.deps/
/Makefile.in
/aclocal.m4
/compile
/config.h.in
/configure
/depcomp
/install-sh
/missing
/autom4te.cache/
/amaehneln-1.0.tar.gz
/config.h
/config.log
/aehneln
/config.status
/stamp-h1
/Makefile
/TAGS
*.o
*.dump
*.riscv
